.square {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__black {
    background-color: $color-board-black;
  }
  &__white {
    background-color: $color-board-white;
  }
}

#chess-div {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  // padding: 0.6vmin;
}

// outdo the board's rotation
// all done with these CSS lines
// pretty smart, if I do say so myself c:
#chess-div.rotate > button {
  transform: rotate(180deg);
}

/* will have fix the border (why 84vmin and 81vmin and why x and y margin between square is different?) */
#chess-div {
  background-color: $color-board-white;
  border-radius: .6vmin;
  overflow: hidden;

  cursor: pointer;

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
}
