/* icons are from: */
/* https://www.onlinewebfonts.com/icon/packs_2638 */
/* it might be more clean to inject background-image from JS */
.black-king {
  background-image: url(img/black-king.png);
}

.black-bishop {
  background-image: url(img/black-bishop.png);
}

.black-rook {
  background-image: url(img/black-rook.png);
}

.black-queen {
  background-image: url(img/black-queen.png);
}

.black-knight {
  background-image: url(img/black-knight.png);
}

.black-pawn {
  background-image: url(img/black-pawn.png);
}

.white-king {
  background-image: url(img/white-king.png);
}

.white-bishop {
  background-image: url(img/white-bishop.png);
}

.white-rook {
  background-image: url(img/white-rook.png);
}

.white-queen {
  background-image: url(img/white-queen.png);
}

.white-knight {
  background-image: url(img/white-knight.png);
}

.white-pawn {
  background-image: url(img/white-pawn.png);
}
