@use "variables";

.square {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__black {
    background-color: variables.$color-board-black;
  }
  &__white {
    background-color: variables.$color-board-white;
  }
  &--valid-move.square__black {
    background-color: variables.$color-board-highlight-black;
  }
  &--valid-move.square__white {
    background-color: variables.$color-board-highlight-white;
  }
}
