.blacks-turn {
  grid-column: 4 / span 1;
}

.whites-turn {
  grid-column: 4 / span 1;
}

.turn-indicator {
  background-color: $color-black;
  display: flex;
  align-items: center;
  // justify-content: center;
  text-align: left;
  padding: 1.2vmin;
  border-radius: .6vmin;
  text-transform: capitalize;
}