@use "variables";

.rows-bar {
  flex-direction: column;
}

.cols-bar {
  grid-column: 2 / span 1;
  flex-direction: row;
}

.north-bar {
  grid-column: 2 / span 1;
}

.west-bar {
  grid-row: 2 / span 1;
}

.east-bar {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.bar {
  border-radius: .6vmin;
  color: variables.$color-white;
  background-color: variables.$color-black;
  color: variables.$color-white;
  display: flex;
  font-weight: 500;
  justify-content: space-around;
  font-size: 4vmin;
  align-items: center;
  cursor: default;
}
