@use 'variables';

.notification-sink {
  background-color: variables.$color-black;
  font-weight: bold;
  border-radius: 0.6vmin;
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  font-size: 2vmin;
  padding: 1.2vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  &__divider {
    border-radius: 2vmin;
    height: 0.4vmin;
    background-color: rgba(variables.$color-black-dark, 0.4);
    width: 100%;
    margin-top: 0.75vmin;
    margin-bottom: 0.75vmin;
  }
  &__buttons {
    margin-top: 1vmin;
    display: flex;
    justify-content: space-between;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__footer {
  }
}

.notification-sink--left {
  grid-column: 1 / span 1;
}

#clear-notifications-btn {
  background-color: variables.$color-primary;
}

#reset-game-btn {
  background-color: variables.$color-danger;
}

.warning {
  color: variables.$color-warning;
}

.danger {
  color: variables.$color-danger;
}

.success {
  color: variables.$color-success;
}

.info {
  color: variables.$color-info;
}
