@use "variables";

.blacks-turn {
  grid-column: 5 / span 1;
  align-self: end;

}

.whites-turn {
  grid-column: 5 / span 1;
}

.turn-indicator {
  background-color: variables.$color-black;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1.2vmin;
  border-radius: .6vmin;
  height: 90%;
}