$color-black-dark: #222224;

$color-board-black: #b37a41;
$color-board-white: #ffce9e;

$color-board-highlight-white: #ecebe2;
$color-board-highlight-black: #50ab67;

$color-highlight: #2ecc71;

$color-black: #353535;
$color-white: #ddd;

$color-pieces: black;
$color-text: #fff;

// notifications colors
$color-primary: #007bff;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-muted: #6c757d;
